/* Global Styles */
* { /* Resets all margins/padding of webpage */
    margin: 0;
    padding: 0;
}

body {
    font-family: cormorant, serif;
}


/* Header/Navbar CSS */
h1 {
    display: inline-block; /* Lets other content go to the side of the h1 */
    font-weight: 300;
    margin-right: 32px;
    font-size: 40px;
}

.navbar { /* Whole header navbar of the top */
    margin: 32px;
}

.links { /* Links inside the navbar */
    display: inline-block;
}

.links li {
    display: inline-block;
}

.links a {
    text-decoration: none;
    font-size: 24px;
    color: black;
    margin: 0 10px;
}

a.active { /* The link that is currently active, is underlined */
    border-bottom: 1px solid black;
}

/* Gallery CSS */
#gallery {
    padding: 16px;
}

#gallery-heading {
    text-align: center;
    font-size: 32px;
    font-weight: 300;
    border-bottom: 1px solid black;
}

.gallery-card { /* Card that includes an image and a heading. 2 cards per row on the screen */
    width: 49.75%;
    display: inline-block;
    box-sizing: border-box;
    padding: 16px;
}

.gallery-card img {
    height: 500px;
    width: 100%;
    object-fit: cover;
}

.gallery-card img:hover {
    opacity: 0.9;
}

.gallery-card h3 {
    margin: 8px 0 16px 0;
    font-weight: 300;
    font-size: 24px;
}

/* About/footer CSS */
footer {
    width: 40%;
    min-width: 600px;
    margin: 100px 0 100px 200px;
}
#about p, #contact h2 {
    font-size: 40px;
    font-weight: 300;
    margin-bottom: 28px;
}

#contact {
    margin-top: 75px;
}

#contact p {
    font-size: 28px;
}

.cta { /* For call To Action line */
    border-bottom: 1px solid black;
    display: inline-block;
    padding: 10px;
}